<!-- Services -->
  <section class="page-section" id="registeration">
    <div class="container">
	  
      <div class="row text-center">
        <div class="col-lg-12">
            <div class="g-form-container">
            <iframe  class="responsive-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLSeUDN5M3ymX8vIStBZUuGXhZuVgD5pJzUekFmgJzca8YFYqQw/viewform?embedded=true"  frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
        </div>

      </div>
	  
    </div>
  </section>
<!-- End Services -->